.content_item{
    padding: 10px;
    margin: 2px;
    background-color: whitesmoke;
    border-radius: 6px;
    width: 33%;
    box-sizing: border-box;
}
.content_item figure{
    width: 100%;
    margin: 0;
    padding: 0;
}
.content_item figure img{
    width: 100%;
    max-width: 380px;
    display: block;
    margin: auto;
}
.content_item .name{
    width: 100%;
    text-align: center;
    color: darkslategrey;
}
.content_prices_shared{
    display: flex;
    justify-content: space-between;
}
.price{
    
}